*{
    margin: 0;
     padding: 0; 
    box-sizing: border-box;
}

button:hover{
background-color: red;
cursor: pointer;
}

button{
    color: white;
    background-color: black;
    height: 50px;
    width: 150px;
}

footer{
    text-decoration: none;
}
/* .seeerd{
    text-decoration: none;
} */
.diev{
    text-align: center;
    display: flex; 
    justify-content: space-between;
    color: black;
}

.devc{
    display: grid;
    grid-gap: 20px;
}

.hi{
    text-decoration: none;
    color: white;
    list-style: none;
}

/* .hii{
    list-style: none;
    color: white;
    text-decoration: none;
} */

#home:hover{
   color: red;
   background-color: brown;
}