*{
    margin: 0;
     padding: 0; 
    box-sizing: border-box;
}


#Gallery img{
    height: 300px;
    width: 300px;
    column-gap: 5px;
    gap: 5px;
    margin: 5px;
    text-align: center;
}
 button{
    
    height: 30px;
    width: 80px;
    padding-top: 1cap;
    padding-bottom: 1cap;
    background-color: black;
    color: white;
} 

button:hover{
    background-color: tomato;
}

.den{
    text-decoration: none;
    color: white;
    list-style: none;
    background-color: w;
}

#home{
    text-decoration: none;
    color: white;
    list-style: none;
}

#home:hover{
    color: tomato;
    cursor: pointer;
}

#hom{
    list-style: none;
    text-decoration: none;
    color: white;
}

#hom:hover{
    color: tomato;
    cursor: pointer;
}